In [71]:
import pandas as pd
url = 'https://www.basketball-reference.com/leagues/NBA_2022_per_game.html'
tables = pd.read_html(url)

In [72]:
df = tables[0]
df.head()

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,1,Precious Achiuwa,C,22,TOR,73,28,23.6,3.6,8.3,...,.595,2.0,4.5,6.5,1.1,0.5,0.6,1.2,2.1,9.1
1,2,Steven Adams,C,28,MEM,76,75,26.3,2.8,5.1,...,.543,4.6,5.4,10.0,3.4,0.9,0.8,1.5,2.0,6.9
2,3,Bam Adebayo,C,24,MIA,56,56,32.6,7.3,13.0,...,.753,2.4,7.6,10.1,3.4,1.4,0.8,2.6,3.1,19.1
3,4,Santi Aldama,PF,21,MEM,32,0,11.3,1.7,4.1,...,.625,1.0,1.7,2.7,0.7,0.2,0.3,0.5,1.1,4.1
4,5,LaMarcus Aldridge,C,36,BRK,47,12,22.3,5.4,9.7,...,.873,1.6,3.9,5.5,0.9,0.3,1.0,0.9,1.7,12.9

In [73]:
df .info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 842 entries, 0 to 841
Data columns (total 30 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Rk      842 non-null    object
 1   Player  842 non-null    object
 2   Pos     842 non-null    object
 3   Age     842 non-null    object
 4   Tm      842 non-null    object
 5   G       842 non-null    object
 6   GS      842 non-null    object
 7   MP      842 non-null    object
 8   FG      842 non-null    object
 9   FGA     842 non-null    object
 10  FG%     827 non-null    object
 11  3P      842 non-null    object
 12  3PA     842 non-null    object
 13  3P%     770 non-null    object
 14  2P      842 non-null    object
 15  2PA     842 non-null    object
 16  2P%     814 non-null    object
 17  eFG%    827 non-null    object
 18  FT      842 non-null    object
 19  FTA     842 non-null    object
 20  FT%     745 non-null    object
 21  ORB     842 non-null    object
 22  DRB     842 non-null    object
 23  TRB     842 non-null    object
 24  AST     842 non-null    object
 25  STL     842 non-null    object
 26  BLK     842 non-null    object
 27  TOV     842 non-null    object
 28  PF      842 non-null    object
 29  PTS     842 non-null    object
dtypes: object(30)
memory usage: 197.5+ KB

In [74]:
df.drop(df[df['Age'] == 'Age'].index, inplace = True)
df.shape

(812, 30)

In [75]:
cols = df.columns
dict_retype={}
for c in cols:
    if c == 'Rk' or c == 'Player' or c == 'Pos' or c == 'Tm':
        pass
    elif c == 'Age' or c == 'G' or c == 'GS':
        dict_retype[c] = 'int64'
    else:
        dict_retype[c] = 'float64'
        

        df = df.astype(dict_retype)
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 812 entries, 0 to 841
Data columns (total 30 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Rk      812 non-null    object
 1   Player  812 non-null    object
 2   Pos     812 non-null    object
 3   Age     812 non-null    int64
 4   Tm      812 non-null    object
 5   G       812 non-null    int64
 6   GS      812 non-null    int64
 7   MP      812 non-null    float64
 8   FG      812 non-null    float64
 9   FGA     812 non-null    float64
 10  FG%     797 non-null    float64
 11  3P      812 non-null    float64
 12  3PA     812 non-null    float64
 13  3P%     740 non-null    float64
 14  2P      812 non-null    float64
 15  2PA     812 non-null    float64
 16  2P%     784 non-null    float64
 17  eFG%    797 non-null    float64
 18  FT      812 non-null    float64
 19  FTA     812 non-null    float64
 20  FT%     715 non-null    float64
 21  ORB     812 non-null    float64
 22  DRB     812 non-null    float64
 23  TRB     812 non-null    float64
 24  AST     812 non-null    float64
 25  STL     812 non-null    float64
 26  BLK     812 non-null    float64
 27  TOV     812 non-null    float64
 28  PF      812 non-null    float64
 29  PTS     812 non-null    float64
dtypes: float64(23), int64(3), object(4)
memory usage: 196.7+ KB

In [76]:
df.fillna(0, inplace = True)
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 812 entries, 0 to 841
Data columns (total 30 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Rk      812 non-null    object
 1   Player  812 non-null    object
 2   Pos     812 non-null    object
 3   Age     812 non-null    int64
 4   Tm      812 non-null    object
 5   G       812 non-null    int64
 6   GS      812 non-null    int64
 7   MP      812 non-null    float64
 8   FG      812 non-null    float64
 9   FGA     812 non-null    float64
 10  FG%     812 non-null    float64
 11  3P      812 non-null    float64
 12  3PA     812 non-null    float64
 13  3P%     812 non-null    float64
 14  2P      812 non-null    float64
 15  2PA     812 non-null    float64
 16  2P%     812 non-null    float64
 17  eFG%    812 non-null    float64
 18  FT      812 non-null    float64
 19  FTA     812 non-null    float64
 20  FT%     812 non-null    float64
 21  ORB     812 non-null    float64
 22  DRB     812 non-null    float64
 23  TRB     812 non-null    float64
 24  AST     812 non-null    float64
 25  STL     812 non-null    float64
 26  BLK     812 non-null    float64
 27  TOV     812 non-null    float64
 28  PF      812 non-null    float64
 29  PTS     812 non-null    float64
dtypes: float64(23), int64(3), object(4)
memory usage: 196.7+ KB

In [77]:
df.head()

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,1,Precious Achiuwa,C,22,TOR,73,28,23.6,3.6,8.3,...,0.595,2.0,4.5,6.5,1.1,0.5,0.6,1.2,2.1,9.1
1,2,Steven Adams,C,28,MEM,76,75,26.3,2.8,5.1,...,0.543,4.6,5.4,10.0,3.4,0.9,0.8,1.5,2.0,6.9
2,3,Bam Adebayo,C,24,MIA,56,56,32.6,7.3,13.0,...,0.753,2.4,7.6,10.1,3.4,1.4,0.8,2.6,3.1,19.1
3,4,Santi Aldama,PF,21,MEM,32,0,11.3,1.7,4.1,...,0.625,1.0,1.7,2.7,0.7,0.2,0.3,0.5,1.1,4.1
4,5,LaMarcus Aldridge,C,36,BRK,47,12,22.3,5.4,9.7,...,0.873,1.6,3.9,5.5,0.9,0.3,1.0,0.9,1.7,12.9

In [78]:
filename = 'NbaPlayersStats.csv'
df.to_csv(filename,index = False)